@import url(reset.css);
html {
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
    /*background-color: var(--dark-gray);*/
    /*display: flex;*/
    /*align-items: center;*/
}

body {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popup {
    margin-top: 3rem;
    display: none;
    flex-direction: column;
    /*width: 60%;*/
    background-color: var(--dark-gray);
    border-radius: 0.5rem;
    position: absolute;
    padding: 3rem;
    top:10%;
}

#formContainer{
    width: 100%;
    color: white;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    z-index: 999;
    padding: 3rem;
    flex-shrink: 0;
}

#formContainer h2{
    width: 100%;
    text-align: center;
    font-size: 4.8rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: var(--pink);
}

.form {
    width: 100%;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

form p {
    width: 95%;
    text-align: right;
    color: var(--blue);
    font-style: italic;
    float: right;
    margin-top: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.wave {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
}
.popupImg{
    width: 40%;
    z-index: 999;
}

label {
    font-size: 2rem;
    margin: 2rem 0 0.3rem;
}
input, textarea {
    width: 40rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--very-dark-gray);
}

textarea {
    min-height: 15rem;
}

#formContainer .factorGroup {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 1.2rem;
    margin-top: 2rem;}

#formContainer .factorGroup .factor {
    min-width: 10rem;
    border: none;
    border-radius: 0.5rem;
    margin: 0.3rem;
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: center;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--very-dark-gray);
    background-color: var(--blue);
}


